h1{color:green;
    background-color:blanchedalmond;
}
h2{color:aqua;
    background-color:antiquewhite;
}
h3{color:orange;
    background-color:cornflowerblue;
}
h5{color:salmon;
    background-color:aqua;
}
p{color:crimson;
    background-color:gold;
}
button{color:blue;
    background-color:bisque;
}